.cabecalho{
  align-items: center;
  background:#dadada;
  display: flex;
  justify-content: space-between;
  padding-left:1.5rem;
  padding-right: 2rem;

}

.menu_lista {
  display: flex;
  
}

.menu-item{
  list-style: none;
}

.menu-link{
  color: #808080;
  margin-right: 1em;
  text-decoration: none;
  text-transform: lowercase;
  }

li:first-child a{
   font-weight: bolder;
}  
li:last-child a{
  margin-right: none;
}  

.menu-link:hover{
  text-decoration: underline;
}